@import url('fonts.css');


/* Constants */
.windows95 * {
	--bg: rgb(201, 201, 201);
	--bg2: rgb(255, 255, 255);

	--col-light: rgb(240, 240, 240);
	--col-dark: rgb(129, 129, 129);

	--title-gradient: linear-gradient(to right, rgb(138, 138, 138) 0%, rgb(201, 201, 201) 100%);
	--title-gradient-focused: linear-gradient(to right, rgb(9, 0, 131) 0%, rgb(92, 144, 228) 100%);

	--user-select-col: rgb(26, 8, 143);

	--frame: url('../assets/borders/framec.png') 2 stretch;
	--frame-in: url('../assets/borders/framec_in.png') 2 stretch;
	--sub: url('../assets/borders/subc.png') 1 stretch;
	--sub-in: url('../assets/borders/subc_in.png') 1 stretch;
}
.windows95 * {
	box-sizing: border-box;
	
	word-spacing: 0;
	
	background-clip: border-box;
	font-family: 'Windows';
	font-weight: 100;
	font-size: 13px;
	line-height: 1;
	letter-spacing: 0;
	user-select: none;
	image-rendering: pixelated;

	cursor: inherit;
}


.windows95 {
	display: grid;
	min-width: 100%;
	min-height: 100%;
	max-width: 100%;
	max-height: 100%;
	width: 100%;
	height: 100%;

	overflow: hidden;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr auto;
	
	color: black;
	background-color: rgb(0, 122, 131);

	cursor: url('../assets/cursors/arrow.cur'), auto;
}


/* #region General */
*[disabled] {
	color: var(--col-dark);
	text-shadow: 1px 1px 0 var(--col-light);
}

.center {
	text-align: center !important;
	align-items: center !important;
	align-content: center !important;
}
.justify {
	text-align: justify;
}
.right {
	text-align: right !important;
	justify-items: right !important;
	justify-content: right !important;
}
.left {
	text-align: left !important;
	justify-items: left !important;
	justify-content: left !important;
}
.top {
	align-items: start !important;
	align-content: start !important;
}
.bottom {
	align-items: end !important;
	align-content: end !important;
}
/* #endregion */

/* #region Context Menu */
.contextmenu {
	position: absolute;
	min-width: max-content;
	
	border: 2px solid;
	border-image: var(--frame);
	background-color: var(--bg);

	z-index: 1;
}
.contextmenu button {
	position: relative;
	text-align: left;
	padding: 2px 30px !important;

	border: none !important;
	outline-offset: -1px !important;
}
.contextmenu button:hover {
	background-color: var(--user-select-col);
	color: white;
}
.contextmenu button img.left {
	position: absolute;
	left: 7px;
}
.contextmenu button img.right {
	position: absolute;
	right: 7px;
}
.contextmenu button.rightarrow::after {
	content: '';
	display: block;
	position: absolute;
	width: 16px;
	height: 16px;
	right: 7px;
	top: 50%;
	transform: translateY(-50%);

	background-image: url('../assets/icons/arrow_right.png');
	background-size: contain;
}
.contextmenu button.rightarrow:hover:after {
	background-image: url('../assets/icons/arrow_right_light.png');
}
/* #endregion */

/* #region Window */
.iconinline {
	vertical-align: sub;
	margin-right: 5px;
}
.window {
	display: grid;
	position: absolute;
	min-width: max-content;
	min-height: 100px;

	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr;

	border: 2px solid;
	border-image: var(--frame);
	background-color: var(--bg);
}
.window[hidden] {
	display: none;
}
.window.focused {
	z-index: 1;
}
.window.maximized {
	top: 0 !important;
	left: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	width: 100% !important;
	height: 100% !important;
}
.window .titlebar {
	display: grid;
	width: 100%;
	
	grid-auto-flow: column;
	grid-template-columns: 1fr auto;

	background: var(--title-gradient);
}
.window.focused .titlebar {
	background: var(--title-gradient-focused);
}
.window .titlebar .title {
	height: 100%;
	
	padding-left: 5px;
	text-wrap: nowrap;
	line-height: 19px;

	color: white;
	text-shadow: .5px 0 0, 1px 0 0;
	letter-spacing: 1px;
}
.window .titlebar .buttons {
	display: grid;
	height: 100%;

	grid-auto-flow: column;
	gap: 2px;
	padding: 2px;
}
.window .titlebar .buttons button {
	width: 17px;
	height: 15px;
	
	padding: 0;
}
.minimize {
	background-image: url('../assets/inputs/minimize.png');
	background-size: contain;
}
.maximize {
	background-image: url('../assets/inputs/maximize.png');
	background-size: contain;
}
.maximize2 {
	background-image: url('../assets/inputs/maximize2.png');
	background-size: contain;
}
.close {
	background-image: url('../assets/inputs/close.png');
	background-size: contain;
}
/* #endregion */

/* #region Window Placeholder */
.wph {
	position: absolute;

	border: 3px solid;
	border-image: url('../assets/borders/wph.png') 3 round;

	transition: all .3s linear;
}
/* #endregion */

/* #region Desktop */
.desktop {
	height: 100%;
	width: 100%;

	display: grid;
	grid-template-rows: repeat(auto-fill, 80px);
	grid-auto-columns: 80px;
	gap: 10px;
	padding: 10px;
}
.desktop.horizontal {
	grid-template-columns: repeat(auto-fill, 80px);
	grid-auto-rows: 80px;
}
.desktop button.icon {
	position: relative;
	height: min-content;
	
	padding: 0 !important;

	outline: none !important;
	border: none !important;
	background: none !important;
}
.desktop button.icon:focus::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	background-image: url('../assets/borders/select.png');
}
.desktop button.icon > span {
	display: block;
	width: 100%;

	text-align: center;
	text-wrap: wrap;
}
:not(.whiteframe-in) > .desktop button.icon:focus > span {
	color: white;
}
.desktop button.icon > img {
	width: 100%;
	height: 50px;
	
	object-fit: none;
}
/* #endregion */

/* #region Taskbar */
.taskbar {
	display: flex;
	height: min-content;
	
	padding: 2px;
	gap: 4px;
	
	border: 2px solid;
	border-image: var(--frame);
	background-color: var(--bg);
}
.taskbar > button {
	letter-spacing: 1px;
	text-shadow: .5px 0 0, 1px 0 0;
}
.taskbar .appbtn {
	width: 150px;
	text-align: left;
}
.taskbar .appbtn.focused {
	background-image: url('../assets/borders/select_light.png');
}
/* #endregion */

/* #region Labels */
input:focus + label, textarea:focus + label {
	outline: 1px dotted black;
	outline-offset: -2px;
}
/* #endregion */

/* #region Buttons */
button,
input[type='submit'],
input[type='button'],
input[type='reset'] {
	padding: 2px;
	
	text-overflow: ellipsis;
	text-wrap: nowrap;
	overflow: hidden;

	background-color: var(--bg);
	border: 2px solid;
	border-image: var(--frame);
	outline: none;
}
:is(
	button,
	input[type='submit'],
	input[type='button'],
	input[type='reset']
):not([disabled]):active {
	padding: 3px 1px 1px 3px;

	border: 2px solid;
	border-image: var(--frame-in);
}
button:focus {
	outline: 1px dotted black;
	outline-offset: -3px;
}
button.focused {
	border: 2px solid;
	border-image: var(--frame-in);
}
/* #endregion */

/* #region Text Inputs */
input[type='number'] {
	appearance: textfield;
}
input[type='number']::-webkit-inner-spin-button {
	-webkit-appearance: none;
}
input:not(
	[type='checkbox'],
	[type='radio'],
	[type='submit'],
	[type='button'],
	[type='reset'],
	[type='range']
), textarea {
	padding: 2px;

	min-width: 170px;
	
	border: 2px solid;
	border-image: var(--frame-in);
	background-clip: padding-box !important;
	background-color: var(--bg2);
	outline: none;
}
:is(
	input:not(
		[type='checkbox'],
		[type='radio'],
		[type='submit'],
		[type='button'],
		[type='reset'],
		[type='range']
	),
	textarea
)[disabled] { 
	background-color: var(--bg);
	text-shadow: none;
}
:is(
	input:not(
		[type='checkbox'],
		[type='radio'],
		[type='submit'],
		[type='button'],
		[type='reset'],
		[type='range']
	),
	textarea
):not([disabled]) {
	cursor: url('../assets/cursors/beam.cur'), auto !important;
}
/* #endregion */

/* #region Checkboxes and Radios */
input[type='checkbox'], input[type='radio'] {
	max-width: 13px;
	max-height: 13px;
	min-width: 13px;
	min-height: 13px;
	margin: 0;
	
	outline: none;
	appearance: none;
	-webkit-appearance: none;
}
input[type='checkbox'] {
	background-image: url('../assets/inputs/checkbox.png');
}
input[type='radio'] {
	background-image: url('../assets/inputs/radio.png');
}
input[type='checkbox']:checked {
	background-image: url('../assets/inputs/checkbox_chk.png');
}
input[type='radio']:checked {
	background-image: url('../assets/inputs/radio_chk.png');
}
/* #endregion */

/* #region Range */
input[type='range'] {
	width: 100%;
	height: 0;
	margin: 7px 0 7px 0;

	appearance: none;
	-webkit-appearance: none;

	background-clip: padding-box;
	outline: none;
	border: 2px solid;
	border-image: var(--frame-in);
}
input[type='range']::-webkit-slider-thumb {
	appearance: none;

	width: 9px;
	height: 19px;
	
	border: 2px solid;
	border-image: var(--frame);
	background-color: var(--bg);
}
input[type='range']:focus::-webkit-slider-thumb {
	outline: 1px dotted black;
	outline-offset: -3px;
}
input[type='range']::-moz-range-thumb {
	width: 7px;
	height: 15px;

	border-radius: 0;
	
	border: 2px solid;
	border-image: var(--frame);
	background-color: var(--bg);
}
input[type='range']:focus::-moz-range-thumb {
	outline: 1px dotted black;
	outline-offset: -3px;
}
/* #endregion */

/* #region Toolbar */
.toolbar {
	display: flex;
}
button.tool {
	padding-left: 5px !important;
	padding-right: 5px !important;
}
button.tool:not(:hover),
.window:not(.focused) button.tool {
	border: 2px solid transparent;
	background: none;
}
button.tool:is(:focus, .focused) {
	border: 2px solid;
	border-image: var(--frame-in);
}
/* #endregion */

/* #region Tree View */
ul.treeview {
	margin: 0;
	padding: 2px 4px !important;

	background-clip: padding-box;
	background-color: var(--bg2);
	border: 2px solid;
	border-image: var(--frame-in);
	list-style: none;
}
ul.treeview ul {
	padding-left: 15px;
	margin-left: 15px;
	
	border-left: 1px dotted var(--col-dark);
	list-style: none;
}

ul.treeview li.focused {
	outline: 1px dotted black;
	background-color: var(--user-select-col);
}

ul.treeview ul > li {
	position: relative;
}
ul.treeview ul > li::before {
	content: '';
	display: block;
	position: absolute;
	width: 10px;
	left: -15px;
	top: 5px;

	border-bottom: 1px dotted var(--col-dark);
}
ul.treeview ul > li:last-child::after {
	content: '';
	display: block;
	position: absolute;
	width: 10px;
	left: -20px;
	bottom: 0;
	top: 6px;

	background-color: var(--bg2);
}

ul.treeview details > summary {
	position: relative;
	display: inline;
	padding-left: 15px;
	
	cursor: url('../assets/cursors/pointer.cur'), auto;
}
ul.treeview ul details > summary {
	padding-left: 0;
}
ul.treeview details > summary:focus {
	outline: 1px dotted var(--col-dark);
	outline-offset: -2px;
}
ul.treeview details > summary::after {
	content: '';
	position: absolute;
	left: 0;
	width: 11px;
	height: 11px;
	z-index: 1;

	background-image: url('../assets/inputs/plus.png');
	background-size: contain;
}
ul.treeview ul details > summary::after {
	left: -20px;
}
ul.treeview details[open] > summary::after {
	background-image: url('../assets/inputs/minus.png');
}
/* #endregion */

/* #region Containers */
.content5 {
	padding: 5px !important;
	gap: 5px !important;
}
.content {
	padding: 2px !important;
	gap: 3px !important;
}
.content-text {
	padding: 1px 4px !important;
	gap: 2px !important;
}
.frame {
	/* background-color: var(--bg); */
	border: 2px solid;
	border-image: var(--frame);
}
.frame-in {
	background-clip: padding-box;
	/* background-color: var(--bg); */
	border: 2px solid;
	border-image: var(--frame-in);
}
.whiteframe-in {
	background-clip: padding-box;
	background-color: var(--bg2);
	border: 2px solid;
	border-image: var(--frame-in);
}
.framethin {
	border: 1px solid;
	border-image: var(--sub);
}
.framethin-in {
	background-clip: padding-box;
	border: 1px solid;
	border-image: var(--sub-in);
}

.flex, .flexrows {
	display: flex;
	min-width: 0px;
	min-height: 0px;

	gap: inherit;
	flex-wrap: wrap;
}
.flex {
	width: 100%;

	flex-direction: row;
}
.flexrows {
	height: 100%;
	
	flex-direction: column;
}
.nowrap {
	flex-wrap: nowrap;
}
.growall > * {
	flex-grow: 1;
}
.nogrow {
	flex-grow: 0;
}
.grow {
	flex-grow: 1;
}
.basis500 {
	flex-basis: 500px;
}
.basis100 {
	flex-basis: 100px;
}
.basis50 {
	flex-basis: 50px;
}
.basis20 {
	flex-basis: 20px;
}
.basis-full {
	flex-basis: 100%;
}
.basis-half {
	flex-basis: 50%;
}
.basis-min {
	flex-basis: min-content;
}

.rows {
	display: grid;

	gap: inherit;
	grid-template-columns: 1fr;
	grid-auto-rows: min-content;
}
/* #endregion */

/* #region Findles */
.separatorv {
	margin: 2px;

	border-left: 1px solid;
	border-right: 1px solid;
	border-image: var(--frame-in);
}
.separatorh {
	margin: 2px;
	
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-image: var(--frame-in);
}

.goobie {
	border: 2px solid;
	border-image: var(--frame);
}
/* #endregion */

/* #region Text n shi ykwim */
h1 {
	font-size: 26px !important;
	text-shadow: 1px 0 0, 2px 0 0;
}
h2 {
	font-size: 16px !important;
	text-shadow: .5px 0 0, 1px 0 0;
}
p {
	margin: 0;
	padding: 0;

	text-align: justify;
}
b {
	text-shadow: .5px 0 0, 1px 0 0;
}
i {
	font-style: italic;
}
u {
	text-decoration: underline;
}
/* #endregion */
