@import url('fonts.css');


/* Constants */
.windows95 * {
	--grey-bg: rgb(201, 201, 201);
	--input-bg: rgb(255, 255, 255);

	--outset-light: rgb(240, 240, 240);
	--outset-dark: rgb(129, 129, 129);

	--title-gradient: linear-gradient(to right, rgb(138, 138, 138) 0%, rgb(201, 201, 201) 100%);
	--title-gradient-focused: linear-gradient(to right, rgb(9, 0, 131) 0%, rgb(92, 144, 228) 100%);

	--user-select-col: rgba(34, 0, 255, 0.2);
}
.windows95 * {
	box-sizing: border-box;

	word-spacing: 0;

	font-family: 'Windows';
	font-weight: 100;
	font-size: 13px;
	letter-spacing: 0;
	user-select: none;

	cursor: inherit;
}


.windows95 {
	display: grid;
	min-height: 100%;
	min-width: 100%;

	overflow: hidden;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr auto;
	
	background-color: rgb(70, 103, 137);

	cursor: url('../assets/cursors/arrow.cur'), auto;
}
.windows95.loading {
	cursor: url('../assets/cursors/wait.cur'), auto;
}
.windows95.wait {
	cursor: url('../assets/cursors/bgwait.cur'), auto;
}
.windows95.nocur {
	cursor: none;
}


/* #region General */
*[disabled] {
	color: var(--outset-dark);
	text-shadow: 1px 1px 0 var(--outset-light);
}

.center {
	text-align: center !important;
	align-items: center !important;
	align-content: center !important;
}
.justify {
	text-align: justify;
}
.right {
	text-align: right !important;
	justify-items: right !important;
	justify-content: right !important;
}
.left {
	text-align: left !important;
	justify-items: left !important;
	justify-content: left !important;
}
.top {
	align-items: start !important;
	align-content: start !important;
}
.bottom {
	align-items: end !important;
	align-content: end !important;
}
/* #endregion */

/* #region Window */
.window {
	display: grid;
	position: absolute;
	min-width: max-content;
	min-height: 100px;

	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr;

	border: 2px solid;
	border-image: url('../assets/borders/frame.png') 2 stretch;
	background-color: var(--grey-bg);
}
.window.focused {
	z-index: 1;
}
.window.maximized {
	top: 0 !important;
	left: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
}
.window .titlebar {
	display: grid;
	width: 100%;
	height: 21px;
	
	grid-auto-flow: column;
	grid-template-columns: 1fr auto;

	background: var(--title-gradient);
}
.window.focused .titlebar {
	background: var(--title-gradient-focused);
}
.window .titlebar .title {
	height: 100%;
	
	line-height: 21px;
	text-wrap: nowrap;
	padding-left: 5px;

	color: white;
	text-shadow: .5px 0 0 white, 1px 0 0 white;
	letter-spacing: 1px;
}
.window .titlebar .buttons {
	display: grid;
	height: 100%;

	grid-auto-flow: column;
	gap: 2px;
	padding: 2px;
}
.window .titlebar .buttons button {
	width: 17px;
	height: 17px;
	
	padding: 0;
	font-size: 13px;
	line-height: 13px;
}
.window .titlebar .buttons button:active {
	padding: 1px 0 0 1px;
}
/* #endregion */

/* #region Window Placeholder */
.wph {
	position: absolute;

	border: 3px solid;
	border-image: url('../assets/borders/wph.png') 3 round;

	transition: all .3s linear;
}
/* #endregion */

/* #region Desktop */
.desktop {
	height: 100%;
	width: 100%;

	display: grid;
	grid-template-rows: repeat(auto-fill, 80px);
	grid-auto-columns: 80px;
	gap: 10px;
	padding: 10px;
}
.desktop.horizontal {
	grid-template-columns: repeat(auto-fill, 80px);
	grid-auto-rows: 80px;
}
.desktop .icon {
	position: relative;

	height: min-content;
}
.desktop .icon.focused::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	background-color: var(--user-select-col);
}
.desktop .icon span {
	display: block;
	width: 100%;

	text-align: center;
	text-wrap: wrap;
}
.desktop .icon img {
	width: 100%;
	height: 50px;
	
	object-fit: none;
}
/* #endregion */

/* #region Taskbar */
.taskbar {
	display: flex;
	height: min-content;
	
	padding: 2px;
	gap: 2px;
	
	border: 2px solid;
	border-image: url('../assets/borders/frame.png') 2 stretch;
	background-color: var(--grey-bg);
}
.taskbar > button {
	letter-spacing: 1px;
	text-shadow: .5px 0 0 black, 1px 0 0 black;
}
.taskbar .appbtn {
	width: 150px;
	text-align: left;
}
.taskbar .appbtn.focused {
	border: 2px solid;
	border-image: url('../assets/borders/frame_in.png') 2 stretch;
}
/* #endregion */

/* #region Inputs */
/* Buttons */
button,
input[type='submit'],
input[type='button'],
input[type='reset'] {
	padding: 2px;
	
	background-color: var(--grey-bg);
	border: 2px solid;
	border-image: url('../assets/borders/frame.png') 2 stretch;
	outline: none;
}
:is(
	button,
	input[type='submit'],
	input[type='button'],
	input[type='reset']
):not([disabled]):active {
	padding: 3px 1px 1px 3px;

	border: 2px solid;
	border-image: url('../assets/borders/frame_in.png') 2 stretch;
}
/* Text Inputs */
input[type='number'] {
	appearance: textfield;
}
input[type='number']::-webkit-inner-spin-button {
	-webkit-appearance: none;
}
input:not(
	[type='checkbox'],
	[type='radio'],
	[type='submit'],
	[type='button'],
	[type='reset'],
	[type='range']
), textarea {
	padding: 2px;

	min-width: 170px;

	border: 2px solid;
	border-image: url('../assets/borders/frame_in.png') 2 stretch;
	background-color: var(--input-bg);
	outline: none;

	cursor: url('../assets/cursors/beam.cur'), auto !important;
}
/* Checkboxes and Radios */
input[type='checkbox'], input[type='radio'] {
	max-width: 13px;
	max-height: 13px;
	min-width: 13px;
	min-height: 13px;
	margin: 0;
	
	appearance: none;
	-webkit-appearance: none;
}
input[type='checkbox'] {
	background-image: url('../assets/inputs/checkbox.png');
}
input[type='radio'] {
	background-image: url('../assets/inputs/radio.png');
}
input[type='checkbox']:checked {
	background-image: url('../assets/inputs/checkbox_chk.png');
}
input[type='radio']:checked {
	background-image: url('../assets/inputs/radio_chk.png');
}
/* Range */
input[type='range'] {
	width: 100%;
	height: 0;
	margin: 7px 0 7px 0;

	appearance: none;
	-webkit-appearance: none;

	border: 2px solid;
	border-image: url('../assets/borders/frame_in.png') 2 stretch;
}
input[type='range']::-webkit-slider-thumb {
	appearance: none;

	width: 9px;
	height: 19px;
	
	border: 2px solid;
	border-image: url('../assets/borders/frame.png') 2 stretch;
	background-color: var(--grey-bg);
}
input[type='range']::-moz-range-thumb {
	width: 7px;
	height: 15px;
	
	border: 2px solid;
	border-image: url('../assets/borders/frame.png') 2 stretch;
	background-color: var(--grey-bg);
}
/* #endregion */

/* #region Containers */
.content {
	padding: 8px !important;
	gap: 5px !important;
}
.contentthin {
	padding: 3px !important;
	gap: 3px !important;
}
.whiteframe {
	padding: 5px !important;

	background-color: var(--input-bg);
	border: 2px solid;
	border-image: url('../assets/borders/frame_in.png') 2 stretch;
}
.frame {
	gap: 0 !important;
	
	border: 1px solid;
	border-image: url('../assets/borders/sub_in.png') 1 stretch;
}
.frame > div {
	padding: 5px !important;
	gap: 5px !important;
	
	border: 1px solid;
	border-image: url('../assets/borders/sub.png') 1 stretch;
}

.flex, .flexrows {
	display: flex;
	min-width: 0px;
	min-height: 0px;

	gap: inherit;
	flex-wrap: wrap;
}
.flex {
	width: 100%;

	flex-direction: row;
}
.flexrows {
	height: 100%;
	
	flex-direction: column;
}
.nowrap {
	flex-wrap: nowrap;
}
.growall > * {
	flex-grow: 1;
}
.nogrow {
	flex-grow: 0;
}
.grow {
	flex-grow: 1;
}
.basis100 {
	flex-basis: 100px;
}
.basis50 {
	flex-basis: 50px;
}
.basis20 {
	flex-basis: 20px;
}
.basis-full {
	flex-basis: 100%;
}
.basis-half {
	flex-basis: 50%;
}
.basis-min {
	flex-basis: min-content;
}

.rows {
	display: grid;

	gap: inherit;
	grid-template-columns: 1fr;
	grid-auto-rows: min-content;
}
/* #endregion */
